{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="{% static 'css/bootstrap css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <title>projects_assignment</title>
    </head>
    <body>
        <div class="container">
            <div class="row h-25"></div>
            <div class="row align-items-center">
                <div class="col-4"></div>
                <form class="form col-4 rounded-3 p-4">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" placeholder="username">
                        <label for="username">username</label>
                        <p class="text-danger fs-6" id="username-danger"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="email">
                        <label for="email">email (optional)</label>
                        <p class="text-danger fs-6" id="email-danger"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="Password" placeholder="Password" autocomplete="on">
                        <label for="password">Password</label>
                        <p class="text-danger fs-6" id="password-danger"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="confirm-Password" placeholder="confirm Password" autocomplete="on">
                        <label for="confirm-Password">confirm Password</label>
                        <p class="text-danger fs-6" id="confirm-password-danger"></p>
                    </div>
                    <button type="submit" class="btn btn-primary">signup</button>
                    <p>already have email <a href="{% url 'interface-login' %}">sign in</a></p>
                </form>
                <div class="col-4"></div>
            </div>
        </div>
        <script>
            const signupUrl = "{% url 'authenticate-signup' %}";
            const profileUrl = document.location.origin + "{% url 'interface-profile' 'username' %}";
        </script>
        <script src="{% static 'js/signup.js' %}"></script>
    </body>
</html>